apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-scripts
  namespace: ottero
data:
  01_create_db_users.sh: |
    #!/bin/bash
    set -e
    echo "Creating Ottero Database and User..."
    
    mysql -u root -p"$MYSQL_ROOT_PASSWORD" <<-EOSQL
        CREATE DATABASE IF NOT EXISTS ottero;
        CREATE USER IF NOT EXISTS 'QuickLedger'@'%' IDENTIFIED BY '$OTTERO_DB_PASSWORD';
        GRANT ALL PRIVILEGES ON ottero.* TO 'QuickLedger'@'%';
        FLUSH PRIVILEGES;
    EOSQL
    echo "Ottero Database and User Created."
